In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load
purchase_file = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
purchase_data.describe()

In [ ]:
# Calculate the number of unique names in Date Frame for get Total Players
sn_count = len(purchase_data["SN"].unique())
print(sn_count)

In [ ]:
# Create a date frame with total players
player_count_df = pd.DataFrame({"Total Players":[sn_count]})
player_count_df

In [ ]:
# calculations to obtain number of unique items, average price, number of purchases and total revenue
# calculate the number of unique items
unique_items = len(purchase_data["Item ID"].unique())
print(unique_items)

In [ ]:
# calulate average price
average_price = purchase_data["Price"].mean()
average_price

In [ ]:
# Calculate the number of unique names in Date Frame for get Total Players
number_of_purchases = len(purchase_data["Purchase ID"].unique())
number_of_purchases

In [ ]:
# Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

In [ ]:
# Create a summary data frame to hold the results
summary_df_one = pd.DataFrame({"Number of Unique Items":[unique_items],
                              "Average Price": average_price,
                               "Number of Purchases": number_of_purchases,
                               "Total Revenue": total_revenue})

summary_df_one

In [ ]:
# Group df by Gender
gender = purchase_data.groupby("Gender")

# Count "SN" by gender to get total
gender_count = gender.nunique()["SN"]
gender_count

percent_of_players = gender_count / sn_count * 100

# Create data frame
gender_demo = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percent_of_players})
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})