In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load
purchase_file = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
# Calculate the number of unique names in Date Frame for get Total Players
sn_count = len(purchase_data["SN"].unique())
print(sn_count)

576

In [6]:
# Create a date frame with total players
player_count_df = pd.DataFrame({"Total Players":[sn_count]})
player_count_df

   Total Players
0            576

In [7]:
# calculations to obtain number of unique items, average price, number of purchases and total revenue
# calculate the number of unique items
unique_items = len(purchase_data["Item ID"].unique())
print(unique_items)

179

In [8]:
# calulate average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [9]:
# Calculate the number of unique names in Date Frame for get Total Players
number_of_purchases = len(purchase_data["Purchase ID"].unique())
number_of_purchases

780

In [10]:
# Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [11]:
# Create a summary data frame to hold the results
summary_df_one = pd.DataFrame({"Number of Unique Items":[unique_items],
                              "Average Price": average_price,
                               "Number of Purchases": number_of_purchases,
                               "Total Revenue": total_revenue})

summary_df_one

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [12]:
# Group df by Gender
gender = purchase_data.groupby("Gender")

# Count "SN" by gender to get total
gender_count = gender.nunique()["SN"]
gender_count

percent_of_players = gender_count / sn_count * 100

# Create data frame
gender_demo = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percent_of_players})
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [13]:
# Finding purchase count
purchase_count = purchase_data["Purchase ID"].count()
purchase_count

780

In [14]:
# Finding avg. purchase price
avg_price = round(purchase_data["Price"].mean(),2)
avg_price

3.05

In [15]:
# Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [16]:
Avg_Total_Purchase_per_Person = purchase_data["Price"].()
Avg_Total_Purchase_per_Person

SyntaxError: invalid syntax (<ipython-input-16-069c6f9c68c8>, line 1)