In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load
purchase_file = "purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
# Calculate the number of unique names in Date Frame for get Total Players
total_players = len(purchase_data["SN"].unique())
print(total_players)

576

In [6]:
# Create a date frame with total players
player_count_df = pd.DataFrame({"Total Players":[total_players]})
player_count_df

   Total Players
0            576

In [7]:
# calculations to obtain number of unique items, average price, number of purchases and total revenue
# calculate the number of unique items
unique_items = len(purchase_data["Item ID"].unique())
print(unique_items)

179

In [8]:
# calulate average price
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [9]:
# Calculate the number of unique names in Date Frame for get Total Players
number_of_purchases = len(purchase_data["Purchase ID"].unique())
number_of_purchases

780

In [10]:
# Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [11]:
# Create a summary data frame to hold the results
summary_df_one = pd.DataFrame({"Number of Unique Items":[unique_items],
                              "Average Price": average_price,
                               "Number of Purchases": number_of_purchases,
                               "Total Revenue": total_revenue})

summary_df_one.style.format({"Average Price":"${:,.2f}", 
                      "Total Revenue":"${:,.2f}"})

In [12]:
# Group df by Gender
gender = purchase_data.groupby("Gender")

# Count "SN" by gender to get total
gender_count = gender.nunique()["SN"]

percent_of_players = gender_count / total_players * 100

# Create data frame
gender_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percent_of_players})
gender_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [27]:
# Finding purchase count
purchase_count = gender["Purchase ID"].count()

# Finding avg. purchase price
avg_price = gender["Price"].mean()

# Calculate Avg purchase total
avg_purchase_total = gender["Price"].sum()

# Calculate Avg total per person
Avg_Total_Purchase_per_Person = avg_purchase_total/gender_count


#Create a summary data frame to hold the results
gender_df = pd.DataFrame({"Purchase Count": purchase_count,
                         "Average Purchase Price": avg_price,
                         "Average Purchase Value": avg_purchase_total,
                         "Avg Purchase Total per Person": Avg_Total_Purchase_per_Person})

gender_df.index.name = "Gender"

gender_df.style.format({"Average Purchase Price":"${:,.2f}",
                        "Average Purchase Value":"${:,.2f}",
                        "Avg Purchase Total per Person":"${:,.2f}"})

In [24]:
#check max of age for demographics
#purchase_data['Age'].max()

# Age Demographics
#Establish bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Calculate the numbers and percentages by age group
age_grouped = purchase_data.groupby("Age Group")

total_by_age = age_grouped["SN"].nunique()

percentage_by_age = total_by_age/total_players * 100

# Create a summary data frame to hold the results
age_demographics = pd.DataFrame({"Total Count": total_by_age, "Percentage of Players": percentage_by_age})

age_demographics.index.name = None

age_demographics.style.format({"Percentage of Players" : "{:,.2f}%"})

In [20]:
# Purchasing Analysis Age Demographics
#Establish bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_count = age_grouped["Purchase ID"].count()
avg_purchase_price = age_grouped["Price"].mean()
total_purchase = age_grouped["Price"].sum()
avg_total_purchase_per_person = total_purchase/total_by_age

age_df = pd.DataFrame({"Purchase Count": purchase_count,
                      "Average Puhchase Price": avg_purchase_price,
                      "Total Purchase Value": total_purchase,
                      "Avg Total Purchase per Person": avg_total_purchase_per_person})

age_df.index.name = None
age_df.style.format({"Average Purchase Price":"${:,.2f}",
                     "Total Purchase Value":"${:,.2f}",
                     "Avg Total Purchase per Person":"${:,.2f}"})

In [22]:
# Top Spenders

spenders = purchase_data.groupby("SN")
purchase_count_ts = spenders["Purchase ID"].count()
avg_purchase_price_ts = spenders["Price"].mean()
total_purchase_value_ts = spenders["Price"].sum()

# Create a summary data frame to hold results
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_ts,
                            "Average Purchase Price": avg_purchase_price_ts,
                            "Total Purchase Value": total_purchase_value_ts})

top_spenders_formatted = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders_formatted.style.format({"Average Purchase Price":"${:,.2f}",
                                    "Total Purchase Value":"${:,.2f}"})